* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  min-height: 70vh;
  padding: 30px;
}

header {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

header > nav a {
  margin: 10px;
}

header > nav a.active {
  background-color: cornflowerblue;
}

header nav {
  margin-top: 30px;
}
